root = true

[*.cs]

dotnet_analyzer_diagnostic.category-Style.severity = none



# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none
# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none
# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none
# CS8618: Non-nullable field must contain a non-null value when exiting constructor.
dotnet_diagnostic.CS8618.severity = none
# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = none
# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = none
# CS8612: Type or member is obsolete
dotnet_diagnostic.CS8612.severity = none