@model RodeFortune.PresentationLayer.Models.TarotCardViewModel

@{
    ViewData["Title"] = "Редагування карти Таро";
}

<div class="admin-container">
    <h1>Редагування карти Таро</h1>
</div>
<style>
.admin-container h1 {
        margin-bottom: 20px;
        font-size: 4rem;
        color: #6f42c1;
    }

 </style >
