<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/113f9ab4-2586-413b-99d8-78e6c7e2712d/resourceGroups/Rodefortune/providers/Microsoft.Web/sites/rodefortune</ResourceId>
    <ResourceGroup>Rodefortune</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://rodefortune-f3dpcce8gfe2dmds.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fbb3dd76-22d9-499c-87c1-22c211b9883f</ProjectGuid>
    <PublishUrl>https://rodefortune-f3dpcce8gfe2dmds.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName>$rodefortune</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>