@{
    ViewData["Title"] = "Home Page";
}

<style>
    .centered-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        color: #6f42c1;
    }

    .content-container {
        position: relative;
        height: 100vh;
    }
</style>

<div class="content-container">
    <div class="centered-logo">RodeFortune</div>
</div>